[user]
	name = Nick.zhu
	email = nick.zhu@icitymoble.com
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    s = status
    d = difftool
[diff]
    tool = vimdiff
[difftool]
    prompt = false
